body {
  box-sizing: border-box;
  color: #262626;
  text-align: center;
  margin: 0;
}

/**Note: Box-sizing: This property controls the box-model used by browser. Border-box will cause the width and height of all element containers to adjust to include borders and padding. Good general rule to set this property universally***/
/*Note: Default padding is 0*/
p {
  font-family: 'Ibarra Real Nova', san-serif;
  line-height: 1.4;
  font-weight: 500;
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto sans", sans-serif;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

hr {
  width: 80%;
  height: 1px;
  border: 0;
  margin: 0 auto;
  background: #b3b3b3;
}

hr-padding {
  width: 80%;
  height: 1px;
  border: 0;
  margin: 0 auto;
  background: #b3b3b3;
  margin: 30px;
}

/* Headings */
.section-heading {
  font-size: 2rem;
}

/* Backgrounds */
.paper-background {
  text-align: center;
  background-image: url("../images/paper.jpg");
  height: auto;
  background-size: cover;
}

.paper-background p {
  font-weight: 500;
}


/* Navigation Section */
nav {
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Q: Why can I not change the right-hand padding above? Why does increasing the left-hand padding begin to push the menu off screen?*/

/*Note: Flex-items will grow or shrink to fit space available in container. "Display: flex" makes nav a flex container. Flex boxes are one dimensional: affect only row or column axis*/
/*"Align-items" will align along the cross-axis (for rows, vertical axis)" Values include: flex-start, center, flex-end, etc.*/
.header-left {
  display: flex;
  align-items: center;
}

.title {
  font-family: roboto;
  color: #f58b54;
  padding: 0 0 0 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.logo {
  width: 125px;
}

ul {
  display: flex;
  margin: 0 30px 0 0;
}

li {
  padding: 0 15px;
  list-style-type: none;
}

li a {
  text-transform: lowercase;
  color: #262626;
  font-family: 'Ibarra Real Nova', serif;
}

li a:hover {
  color: #674848;
}

a {
  text-decoration: none;
}

/* Hero Section */
.hero-text {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  padding-top: 350px;
  font-weight: 700;
  font-family: 'Indie Flower';
  font-size: 70px;
}

/* Intro Sections */
.large-text-area {
  padding: 40px 250px;
  text-align: justify;
  padding-bottom: 30px;
}
/*Note: If margins look uneven on text blocks, try text-align: justify*/

/*Hero Section*/
.hero {
  background-image: url("../images/hero.jpg");
  height: 500px;
  background-size: 105%;
  background-position: -54px 0;
  background-repeat: no-repeat;
  margin-top: 83px;
}
/*Q: HOW DO YOU STYLE THE POSITIONING OF THE BACKGROUND IMAGE*/
/*A: Properties like padding, text-align, etc. do not affect the background image. Non-inherited. Use background-position property to affect position. First value is "px from left". Second value is "px from right". If second value is left blank, default is "center" which will may negatively affect position of background**/
/*Q: WHY DOES THE TEXT COLOR HAVE TO BE STYLED UNDER IT'S OWN CLASS, VS. BEING ABLE TO INHERIT IT FROM THE HEO CLASS*/
/*A: Header will inherit it's value in this order: (1) from identifier that wraps around the header; (2) from Header selector CSS; (3) from its container. If class="hero" is left out of the h1 element, it will not inherit the .hero style*/

/*cta*/

.cta {
  background-color: rgb(201, 35, 6, 0.8);
  border: none;
  width: 100%;
  color: white;
}

.cta-text {
    font-size: 19px;
    padding: 8px;
    text-decoration: none;
    font-weight: 700;
}

/* Brain Food Section */
.brainfood {
  padding: 0 100px 50px 100px;
}
.brainfood-header {
  padding: 50px 0 10px;
  font-size: 2rem;
}

.brainfood-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/*Note: Default width is always 100% width of the viewer*/
/*Note: If you wanted to have equal space on sides and in gaps, you could define all as grid columns, combining fractions and/or percentages, px, etc./
/*Note: Grid-gap property may overflow contents off screen*/

.features-column {
  padding: 11%;
}
/*Note: Add padding or margins the grid to add space around the contents*/
/*Width: will compress everything into the specified width, overriding the value in the grid-template-columns property*/
.icon-color {
    color: rgb(201, 35, 6, 0.8);
    margin-bottom: 1rem;
}

.icon-color:hover {
  color: #f58b54;
}

.feature-title {
  font-size: 1.3rem;
  line-height: 1.2;
}

.feature-text {
  color: #8f8f8f;
  margin: 0;
  font-size: 1rem;
  padding: 0 20%;
}

/* Mentorships Section */
#mentorships h1 {
  text-align: center;
  padding: 50px 0 0 0;
}

.mentorships-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 100px 50px 100px;
}
/*Note: Justify-Items is a parent property container that will justify cell contents along row axis: start, center, end. It will only have an effect if there is free space inside the cell. These cells are full, so property has no effect
/*Note: Justify-content property adjust remaining space around the grid items; Space-evenly value flushes the furthest left and right items against the border. Neither properties have any affect because the cells are full and there is no additional space*/

.mentorships-grid {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Note: Width property here is being applied to the child cell to create a gap. You need to set the margin on left and right though to center the image*/

/*Q: HOW CAN I FORMAT THIS AS A SQUARE*/

.mentorships-text {
  padding: 0px 250px 20px 250px;
  text-align: justify;
  padding-bottom: 30px;
}

.image-writing {
  object-fit: cover;
  height: 210.53px;
}

/* About Seth Section */
#about-seth {
  padding: 100px 100px 80px 100px;
  margin: 0 auto;
}

#about-seth h1 {
  text-align: center;
}

#about-seth p {
  text-align: justify;
}

.about-seth-image {
  width: 50%;
  padding: 0 60px 60px 0;
  float: left;
  border-radius: 100%;
}

#rates {
  clear: left;
  margin: 50px 0;
}

.rates-container {
  display: grid;
  grid-template-columns: 130px auto 60px 360px 130px;
}

.rates-grid-a h1 {
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.1;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Ibarra Real Nova', san-serif;
  color: rgb(201, 35, 6, 0.8);
}

.rates-grid-a p {
  text-align: left;
  font-style: regular;
  line-height: 1.4;
  font-size: 19px;
  color: #262626;
}

.rates-grid-b {
  background: #f2f2f2;
  padding: 20px;
  text-align: left;
}

.creative-writing {
  font-size: 19px;
  font-style: bold;
  line-height: 0;
  color: #333333;
}

.rates-description {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin-bottom: 25px;
}

.rates-text {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: .1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-family: "Noto sans", sans-serif;
}

.week {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
}

/*Contact Section*/

#contact {
  padding: 30px 100px;
}

#contact h1 {
  padding: 20px;
  text-align: center;
}

form {
  padding: 0 100px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grit-template-rows: 25% 25% 50% 25%;
}

#input-subject, #input-message {
  grid-column-start: 1;
  grid-column-end: 3;
}

#input-message {
  height: 100px;
}

#input-name {
  width: 85%;
}


input[type=text], input[type=email], textarea, select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Noto sans", sans-serif;
}

input[type=submit] {
  width: 20%;
  background-color: #f58b54;
  color: white;
  padding:12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(201, 35, 6, 0.8);;
}

#footer {
  background: #230b00;
  padding: 20px;
  text-align: left;
}

#footer h3 {
  color: #fff;
  line-height: 2;
}

.footer-text {
  color: #fff;
  font: normal 12px "roboto", sans-serif;
  line-height: 1.2;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
