
/**Test to see if I can push to git hub**/


html {
  scroll-padding-top: 54px;
}

body {
  box-sizing: border-box;
  color: #262626;
  text-align: center;
  margin: 0;
  scroll-padding-top: 54px;
}

/**Note: Box-sizing: This property controls the box-model used by browser. Border-box will cause the width and height of all element containers to adjust to include borders and padding. Good general rule to set this property universally***/
/*Note: Default padding is 0*/
p {
  font-family: 'Ibarra Real Nova', san-serif;
  line-height: 1.4;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto sans", sans-serif;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

hr {
  width: 40%;
  height: 1px;
  border: 0;
  margin: 2rem auto;
  background: #b3b3b3;
}

@media screen and (max-width: 992px) {
  .first-hr {
    width: 40%;
    margin-top: 3rem;
  }
}

hr-padding {
  width: 80%;
  height: 1px;
  border: 0;
  margin: 0 auto;
  background: #b3b3b3;
  margin: 30px;
}

/* Headings */
.section-heading {
  font-size: 2rem;
  padding-bottom: 16px;
}

@media screen and (max-width: 992px) {
  .section-heading {
    font-size: 4rem;
    margin: 32px 0 0 0;
  }
}

@media screen and (max-width: 992px) {
  .section-heading.workshop {
    font-size: 4rem;
    margin: 32px 0;
  }
}

.container-fluid.section-heading {
  padding-bottom: 0;
}

/* Backgrounds */
.paper-background {
  text-align: center;
  background-image: url("../images/paperResized.jpg");
  height: auto;
}

/* Note: Background-size: cover is not necessary. Applying this size will cause the image to distort as screen size changes.*/
.paper-background p {
  font-weight: 500;
}

/*Containers*/
.container-fluid {
  padding: 5% 10%;
}

.text-fluid {
  padding: 0 10%;
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .text-fluid {
    padding: 0;
    text-align: justify;
    font-size: 2.5rem;
  }
}

/* Navigation Section */
.navbar {
  background-color: #fff;
}

.header-left {
  display: flex;
  align-items: center;
}

/*Q: Why does display: flex put .header-left items inline, but display: inline does not*/
@media screen and (max-width: 700px) {
  .header-left {
    width: 80%;
  }
}

.title-header {
  font-family: "Noto sans", sans-serif;
  color: #f58b54;
  padding: 0 0 0 5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: -5px;
  display: inherit;
}

.title-header:hover {
  font-family: "Noto sans", sans-serif;
  color: #f58b54;
  padding: 0 0 0 5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: -5px;
}

@media screen and (max-width: 992px) {
  .title-header {
    font-size: 1.8rem;
  }
}

.logo {
  width: 125px;
}

@media screen and (max-width: 700px) {
  .logo {
    display: none;
  }
}

#menu {
  text-transform: lowercase;
  color: #262626;
  font-family: 'Ibarra Real Nova', serif;
}

#menu:hover {
  color: #674848;
}

/* Main */
main {
  margin-top: 54px;
}

/* Intro Sections */
/*Hero Section*/
.hero {
  background-image: url("../images/heroResized.jpg");
  height: 500px;
  background-size: 105%;
  background-position: 100% top;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 992px) {
  .hero {
    background-image: url("../images/hero.jpg");
    height: 580px;
    background-size: 220%;
    background-position: 54% top;
    background-repeat: no-repeat;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .hero {
    background-image: url("../images/hero.jpg");
    height: 420px;
    background-size: 150%;
    background-position: 55% top;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    background-image: url("../images/hero.jpg");
    height: 420px;
    background-size: 200%;
    background-position: 55% top;
    background-repeat: no-repeat;
  }
}

.hero-text {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  padding-top: 28%;
  font-weight: 700;
  font-family: 'Indie Flower';
  font-size: 70px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .hero-text {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    padding: 8% 0;
    line-height: 1.4;
    font-weight: 900;
    font-family: 'Indie Flower';
    font-size: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    padding: 40% 0;
    line-height: 1.4;
    font-weight: 700;
    font-family: 'Indie Flower';
    font-size: 0;
  }
}

@media screen and (max-width: 576px) {
  .hero-text {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    padding: 50% 0;
    line-height: 1.4;
    font-weight: 700;
    font-family: 'Indie Flower';
    font-size: 0;
  }
}

/* CTA */
.cta {
  background-color: rgb(201, 35, 6, 0.8);
  border: none;
  width: 100%;
  color: white;
}

.cta a {
  background-color: rgb(201, 35, 6, 0.8);
  border: none;
  width: 100%;
  color: white;
  text-decoration: none;
}

.cta-text {
  font-size: 19px;
  padding: 8px;
  text-decoration: none;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .cta-text {
    font-size: 40px;
    padding: 18px;
    text-decoration: none;
    font-weight: 700;
  }
}

/* Icons Section */

.icon {
  padding: 0 0 5% 0;
}

@media screen and (max-width: 992px) {
  .icon {
    padding: 0 5% 5% 5%;
  }
}
.features-column {
  padding: 16px;
}

@media screen and (max-width: 992px) {
  .features-column {
    padding: 32px;
  }
}

.icon-color {
  color: rgb(201, 35, 6, 0.8);
  margin-bottom: 1rem;
}

.icon-color:hover {
  color: #f58b54;
}

.feature-title {
  font-size: 1.3rem;
  line-height: 1.2;
}

@media screen and (max-width: 992px) {
  .feature-title {
    font-size: 3rem;
    line-height: 1.2;
    padding: 0 5%;
  }
}

.feature-text {
  color: #8f8f8f;
  margin: 0;
  font-size: 1rem;
  padding: 0 20%;
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .feature-text {
    color: #8f8f8f;
    margin: 0;
    font-size: 2.5rem;
    padding: 0 10%;
  }
}

/* Mentorships Section */
.container-fluid.mentorships-text {
  padding: 0 20%;
}

#mentorships .row {
  padding-top: 5%
}

.image-mentorship {
  width: 100%;
  padding: 5%;
}

.image-writing {
  object-fit: cover;
  height: 90.5%;
  padding-bottom: 0;
}

/* About Seth Section */
#about-seth {
  padding: 5% 7%;
}

.about-seth-image {
  width: 50%;
  padding-left: 60px;
  margin-bottom: 60px;
  float: right;
}

@media screen and (max-width: 992px) {
  .about-seth-image {
    width: 100%;
    padding: 0;
    margin: 12px 0 32px 0;
    float: none;
  }
}

#about-seth h1 {
  text-align: center;
  padding-bottom: 2rem;
}

@media screen and (max-width: 992px) {
  #about-seth h1 {
    padding-bottom: 0;
  }
}

#about-seth p {
  text-align: justify;
  padding: 0;
}

.about-hr {
  clear: right;
  width: 40%
}


/* Rates */
#rates {
  clear: left;
}

@media screen and (max-width: 992px) {
  #rates.container-fluid {
    padding: 0 10% 5% 10%;
  }
}

.rates-container {
  display: grid;
  grid-template-columns: auto 40px 360px;
}

@media screen and (max-width: 992px) {
  .rates-container {
    display: block;
  }
}

.rates-grid-a h1 {
  text-align: center;
  line-height: 1.1;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Ibarra Real Nova', san-serif;
  color: rgb(201, 35, 6, 0.8);
}

@media screen and (max-width: 992px) {
  .rates-grid-a h1 {
    font-size: 3.5rem;
  }
}

.rates-grid-a p {
  text-align: left;
  font-style: regular;
  line-height: 1.4;
  font-size: 19px;
  color: #262626;
}

@media screen and (max-width: 992px) {
  .rates-grid-a p {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .rates-grid-a {
    margin-bottom: 32px;
    font-size: 2.5rem;
  }
}

.rates-grid-b {
  background: #f2f2f2;
  padding: 20px;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .rates-grid-b {
    margin-top: 3rem;
  }
}

.creative-writing {
  font-size: 19px;
  font-style: bold;
  color: #333333;
}

@media screen and (max-width: 992px) {
  .creative-writing {
    font-size: 36px;
  }
}

.rates-description {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin-bottom: 25px;
}

@media screen and (max-width: 992px) {
  .rates-description {
    font-size: 32px;
  }
}

.rates-text {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-family: "Noto sans", sans-serif;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .rates-text {
    font-size: 32px;
  }
}

.week {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px
}

@media screen and (max-width: 992px) {
  .week {
    font-size: 26px;
  }
}

/*Contact Section*/
form {
  padding: 0 100px;
  text-align: left;
}

@media screen and (max-width: 992px) {
  form {
    padding: 0;
  }
}

.form-control {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .form-control {
    font-size: 2rem;
  }
}

.form-group {
  margin-bottom: 16px;
  border-radius: 4px;
  font-family: "Noto sans", sans-serif;
}

.form-group-50-50 {
  display: flex;
}

.form-group-50-50 .form-control {
  margin-right: 16px;
}

.form-group-50-50 .form-control:last-child {
  margin-right: 0;
}

@media screen and (max-width: 992px) {
  .form-group-50-50 .form-control {
    margin-right: 40px;
  }
}

@media screen and (max-width: 992px) {
  .form-group-50-50 .form-control:last-child {
    margin-right: 0;
  }
}

input[type=submit] {
  width: 20%;
  background-color: #f58b54;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  input[type=submit] {
    font-size: 2rem;
  }
}

input[type=submit]:hover {
  background-color: rgb(201, 35, 6, 0.8);
  ;
}

@media screen and (max-width: 576px) {
  .form-control .form-group {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 576px) {

  #email,
  #subject,
  #message {
    margin-bottom: 16px;
  }

  input[type=submit] {
    width: 50%;
  }
}

/* Footer Section */
#footer {
  background: #230b00;
  padding: 20px;
  text-align: left;
}

#footer h3 {
  color: #fff;
  line-height: 2;
}

@media screen and (max-width: 576px) {
  #footer h3 {
    font-size: 1rem;
  }
}

.footer-text {
  color: #fff;
  font: normal 12px "roboto", sans-serif;
  line-height: 1.2;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .footer-text {
    font-size: 32px;
  }

/* Unused styles from previous iteration */
.brainfood-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*Note: Above .brainfood-container was replaced by bootstrap .row, and is no longer used in the html. Left the style just as a note*/
/*Note: Default width is always 100% width of the viewer*/
/*Note: If you wanted to have equal space on sides and in gaps, you could define all as grid columns, combining fractions and/or percentages, px, etc./
/*Note: Grid-gap property may overflow contents off screen*/
.mentorships-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 100px 50px 100px;
}

/*Note: Justify-Items is a parent property container that will justify cell contents along row axis: start, center, end. It will only have an effect if there is free space inside the cell. These cells are full, so property has no effect
/*Note: Justify-content property adjust remaining space around the grid items; Space-evenly value flushes the furthest left and right items against the border. Neither properties have any affect because the cells are full and there is no additional space*/
.mentorships-grid {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Note: Width property here is being applied to the child cell to create a gap. You need to set the margin on left and right though to center the image*/
/*Q: HOW CAN I FORMAT THIS AS A SQUARE*/
