  /* html {
    scroll-padding-top: 54px;
  } */

  body {
    box-sizing: border-box;
    color: #262626;
    text-align: center;
    margin: 0;
  }

  /**Note: Box-sizing: This property controls the box-model used by browser. Border-box will cause the width and height of all element containers to adjust to include borders and padding. Good general rule to set this property universally***/
  /*Note: Default padding is 0*/

  a {
    color: #0093b2;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto sans", sans-serif;
    font-weight: 900;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
  }

  .row {
    margin: 0 auto;
  }

  .container {
    margin: 1rem 0;
  }


  .perfect-scroll::before {
    display: block;
    content: " ";
    margin-top: -180px;
    height: 180px;
    visibility: hidden;
    pointer-events: none;
  }


  /*Containers*/
  .container-fluid {
    padding: 10% 15%;
    text-align: left;
  }

  .container-fluid-center {
    padding: 10% 15%;
    text-align: center;
  }

  .container-workshop {
    text-align: center;
    padding: 10% 0%;
  }

  /* Note: Background-size: cover is not necessary. Applying this size will cause the image to distort as screen size changes.*/
  .container-workshop p {
    font-weight: 500;
  }

  .container-wide {
    text-align: center;
    padding: 10% 5%;
  }

  .container-paper {
    background-image: url("../images/paperResized.jpg");
    background-size: 100%;
  }

  .text-fluid {
    padding: 1% 10%;
    text-align: left;
  }

  /* Buttons */
  .btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    background-color: white;
  }

  /* Navigation Section */
  .navbar {
    background-color: #fff;

  }


  .menu {
    color: #262626;
    font-family: 'Ibarra Real Nova', serif;
  }

  /* Main */
  main {
    padding-top: 5rem;
  }

  /* Intro Sections */
  /*Hero Section*/
  .hero-text {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Hero-Carousel Section */
  .carousel-item {
    height: 85vh;
    position: relative;
  }

  /*Note: below styles are copy pasta'd from https://bootstrapcreative.com/pattern/image-gradient-overlay/. If .carousel-item has display: inline-block,, it won't work */

  .carousel-item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(37, 101, 220, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37, 101, 220, 0.5)), color-stop(100%, rgba(0, 47, 75, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(37, 101, 220, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(37, 101, 220, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(37, 101, 220, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(37, 101, 220, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
  }

  .carousel-item img {
    display: block;
  }


  .carousel-image {
    width: 100%;
    overflow: hidden;
  }

  .btn-video {
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 100;
  }

  .btn-register {
    position: absolute;
    top: 80%;
    right: 5%;
    z-index: 100;
  }

  /* CTA */
  .cta {
    background-color: rgb(201, 35, 6, 0.8);
    border: none;
    width: 100%;
    color: white;
  }

  .cta a {
    background-color: rgb(201, 35, 6, 0.8);
    border: none;
    width: 100%;
    color: white;
    text-decoration: none;
  }

  .cta-text {
    font-size: 19px;
    padding: 8px;
    text-decoration: none;
    font-weight: 700;
  }

  /*Intro Section*/
  .first-hr {
    width: 40%;
    height: 1px;
    border: 0;
    background: #b3b3b3;
  }

  /*Video*/

  .video-style {
    width: 600px;
    height: 325px;
  }

  .shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }


  /* Workshops Section */

  .features-column {
    padding: 16px;
  }

  .feature-text {
    color: #262626;
    margin: 0;
    font-size: 1rem;
    padding: 0 18%;
    text-align: justify;
  }

  /* About Seth Section */
  #about-seth.h1 {
    padding-bottom: 1rem;
  }

  .about-seth-image {
    width: 50%;
    padding-left: 60px;
    margin-bottom: 60px;
    float: right;
  }

  #about-seth h1 {
    text-align: center;
    padding-bottom: 2rem;
  }

  #about-seth p {
    padding: 0;
  }

  .about-hr {
    clear: right;
    width: 40%
  }


  .li-degrees {
    margin: 5px 0;
    text-align: left;
  }

  /* Rates */
  .rates-background {
    text-align: center;
    background-image: url("../images/paperResized.jpg");
    background-size: 100%;
  }

  .row-rates {
    padding-top: 5%;
  }

  #rates .image-container {
    height: 100%;
  }

  .image-mentorship {
    width: 100%;
    padding: 5%;
  }


  /* Footer Section */
  #footer {
    background: rgba(37, 101, 220, 0.5);
    padding: 20px;
    color: #312b2b;
    text-align: left;
  }

  #footer p {
    font-size: 1rem;
  }

  /*Blog*/
  #menu.nav-blog {
    font-weight: 700;
    color: rgb(201, 35, 6, 0.8);
  }

  .flex-container {
    padding: .5rem 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(37, 101, 220, 0.5);
  }

  .menu-tag {
    line-height: 1.4;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin-left: 30px;
    font-family: "Noto sans",
      sans-serif;
    color: #262626;
  }

  .main-blog {
    position: absolute;
    top: 130px;
  }

  #recent-posts {
    text-align: left;
    padding-right: 370px;
  }

  .container-recent {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .title-recent {
    font-size: 36px;
    line-height: 1em;
    font-weight: 900;
    margin: 0 0 30px 0;
    padding: 0 0 10px 0;
    border-bottom: 10px solid #f58b54;
    padding-right: 120px;
  }

  title-recent-blog {
    margin: 30px 0 10px 0;
  }

  a.title-recent-blog {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #0093b2;
  }

  .date-recent-style {
    display: inline;
    color: gray;
    font-size: 0.75em;
    font-weight: 900;
    margin: 0 10px 0 0;
  }

  .container-blog-teaser {
    margin-top: 2em;
  }

  p.blog-teaser {
    font-size: 18px;
    line-height: 1.7;
  }

  /*Blog: Pager*/
  .pager {
    border-top: 10px solid #f58b54;
    padding-top: 30px;
    font-weight: bold;
    text-align: center
  }

  .pager li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 40px
  }

  li.pager-current {
    border: 0;
    color: gray;
    font-style: italic;
  }

  li.previous {
    float: left;
  }

  li.next {
    float: right;
  }

  /*Blog Page Categories*/
  .page-description {
    font-style: italic;
    margin: 30px 0;
    clear: both;
    font-size: 24px;
    line-height: 1.5em;
  }

  @media screen and (max-width: 992px) {

    .navbar {
      padding: 3rem;
    }

    .navbar-toggler {
      font-size: 4rem;
    }

    .carousel-item {
      height: auto;
      position: static;
    }

  main {
    padding-top: 202px;
  }

    .container {
      max-width: 100%;
    } */

  /* Universals */
  .first-hr {
      width: 40%;
      margin-top: 3rem;
    }

    p {
      font-size: 2.5rem;
    } 

    .perfect-scroll::before {
      display: block;
      content: " ";
      margin-top: -282px;
      height: 282px;
      visibility: hidden;
      pointer-events: none;
    }

    .h1 {
      font-size: 4rem;
      font-weight: 700;
      margin: 0 auto 2rem auto;
      width: 95%;
    }

    .h4 {
      font-size: 3.5rem;
      font-weight: 700;
      padding: 0 10rem;
    }

  /*  Containers */
  .container-fluid {
      padding-left: 6%;
      padding-right: 6%;
    }

    .text-fluid {
      font-size: 2.5rem;
      padding: 1% 5%;
      text-align: left;
    }

  /*Main*/

  .menu {
      font-size: 3rem;
    }


    .title-font {
      font-size: 3.25rem;
    }

    .cta-text {
      font-size: 2rem;
      padding: 18px;
      text-decoration: none;
      font-weight: 700;
    }

    .features-column {
      padding: 32px;
      margin-bottom: 2rem;
    }

    .feature-text {
      font-size: 2.5rem;
      padding: 0 15%;
    }

    #about-seth h1 {
      padding-bottom: 0;
    }

    .about-seth-image {
      width: 100%;
      padding: 0;
      margin: 12px 0 32px 0;
      float: none;
    }

    .li-degrees {
      margin: 25px 0;
    }

    #footer {
      height: 6rem;
    }

    #footer p {
      font-size: 1.75rem;
      line-height: 3;
    }

  }

  /* @media (min-width: 576px) and (max-width: 768px) {
    .carousel-item {
      height: 420px;
    }
  }

  @media screen and (max-width: 576px) {
    .carousel-item {
      height: 420px;
    }
  } */